.headerNav {
 height: 50px;
 padding: 5px 30px;
 background-color: #A6B1E1;
 display: flex;
 justify-content: space-between;
}

.toLink {
 color: #424874;
 text-decoration: none;
 cursor: pointer;
 font-weight: bold;
 font-size: 20px;
}