.homeWrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 /* background-color: pink; */
}

.card {
 height: 30px;
 width: 400px;
 margin: 5px 0;
 background-color: #F4EEFF;
 display: flex;
 justify-content: center;
 align-items: center; 
}